/**********************************************************************************

	Project Name: IQS
	Project Description: IQS portal
	File Name: main.less
	Author: Reme Le Hane + Jacques van der Horst
	Author URI: http://www.ehbeat.com
	Version: 1.0.0
	
**********************************************************************************/

/***********************************************************************************************/
/*
Contents
    Bootstrap
    
*/
/***********************************************************************************************/

/***********************************************************************************************/
/*CSS Reset*/
/***********************************************************************************************/

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-backface-visibility: hidden;
}

/***********************************************************************************************/
/*Bootstrap*/
/***********************************************************************************************/
//@import "bootstrap.less";

.pull-left {
  float: left !important;
}
.pull-right {
  float: right !important;
}
.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}
.clearfix:after {
    clear: both;
}
/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.clearfix {
    *zoom: 1;
}
/***********************************************************************************************/
/*Bootstrap Theme*/
/***********************************************************************************************/
//@import "bootstrap-theme.less";


/***********************************************************************************************/
/*LESS Variables*/
/***********************************************************************************************/
@head-col1: #664C00;
@head-col2: #393F4C;

@col-light-grey:#CCC;
@col-dark-grey: #999;


@mont :'Montserrat', sans-serif;

/***********************************************************************************************/
/*LESS Mixins*/
/***********************************************************************************************/


/***********************************************************************************************/
/*Global*/
/***********************************************************************************************/
html {
    font-size: 62.5%;
}
html, body {
    overflow-x: hidden;
}

body {
    font-size: 1.6rem;
    background: #23232E;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
}

/***********************************************************************************************/
/*Typography*/
/***********************************************************************************************/

h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    font-family:@mont;
    font-weight:300;
    line-height:100%; letter-spacing:-0.08rem;
    color: @head-col1;
    margin: 0 0 1.5rem 0;
}

h1 {
    font-size: 4.2rem;
}

h2 {
    font-size: 2.8rem;
}

h3 {
    font-size: 2.2rem;
    color: @head-col2;
    font-weight: normal;
}

p {
    margin: 0 0 1rem 0;
}

/***********************************************************************************************/
/*Iconography*/
/***********************************************************************************************/

.icon-left {
    margin-right: 5px;
}

.icon-right {
    margin-left: 5px;
}

/***********************************************************************************************/
/*Header*/
/***********************************************************************************************/

.header, .hamburger a {
    height: 59px;
}

.header {
    height: 59px;
    background: #EFF1F4;
    border-bottom: 1px solid #FFF;
    position: fixed;
    width: 100%;
    z-index: 2000;
}
.hamburger a {
    font-size: 4rem;
    line-height: 150%;
    width: 59px;
    text-align: center;
    float: left;
    border-right:1px solid #fff;
    &:hover {
        background: #D6DBE2;
    }
}
.logo {
    width: 110px;
    display: block;
    margin: 10px 0 0 32px;
    float: left;
}
.viewnav {
    background: #DEE9EF;
    float: left;
    width: 80%;
}
li {
    list-style: none;
}

.news-highlights {
    background: #DADADA;
    color: #777777;
    font-size:1.5rem;
    padding:8px 30px;
    height: 31px;
    position: absolute;
    top: 59px;
    width: 100%;
    a {
     color: #777777;
     text-decoration: underline; 
    }
    p {
        margin: 0;
    }
}

/***********************************************************************************************/
/*Navigation*/
/***********************************************************************************************/

.sidebar {
    color: #FFF;
    float: left;
    width: 20%;
    padding: 15px 10px 15px 15px;
    li {
        border-bottom: 1px solid #2D2D35;
        line-height: 28px;
        font-size: 1.6rem;
    }    
}

.arrow {
    font-size: 2rem;
    line-height: 150%
}
.searchcount, .arrow {
    color: #555555;
    width: 28px;
    display: block;
    float: right;
}
.searchcount {
    text-align: right;
}
.subnav {
    margin: 0;
    padding: 0 0 0 20px;
    li {
    color: #B8B8B8;
    font-size: 1.4rem;
        &:hover {
        background: #3B2627;
        }
        .notification {
            color: #FF5926;
            padding: 0 0 0 5px;
        } 
        span {
            padding: 0 5px 0 0;
        }               
    }
}

.subnavclick {
    height: 28px;
    float: right;
    &:hover {
    background: #FC0;
    }
}
.selected + .subnav[style] {
    display: block!important;
}

/***********************************************************************************************/
/*Form elements*/
/***********************************************************************************************/

.search-box {
    border: none;
    background: #68686F;
    padding: 9px 20px;
    width: 100%;
    font-size: 1.6rem;
    margin: 0 0 15px 0;
}

/***********************************************************************************************/
/*Main Content*/
/***********************************************************************************************/

.main-content {
    padding: 28px;
    margin: 90px 0 0 0;    
    h1~h2 {
        margin-top: 35px;
    }
}

#body-content {
background: #DEE9EF;
float: left;
}

/***********************************************************************************************/
/*Product Catalog*/
/***********************************************************************************************/

.cardwrapper {
    margin: 0 -7px;
    max-width: 1170px;
}
.card {
    background: #FFF;
    margin: 7px;
    float: left;
    position: relative;
    -webkit-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
    h3 {
        color: #393F4C;
        margin: 0 0 0.5rem 0;
        line-height: 100%;
    }
    .category {
        margin: 0 0 0.5rem 0;
        color: #666666;
    }
    .talk {
        background: #F0F0F0;
        line-height: 160%;
        text-align: right;
        text-transform: uppercase;
        height: 25px;
        position: absolute;
        bottom: 8px;
        display: block;
        width: 160px;
        padding: 0 9px 0 0;
        right: 8px;
        &:hover {
            background: #DBDBDB;
        }
    }    
}

.half-card {
    background: #FFF;
    margin: 7px;
    float: left;
    position: relative;
    -webkit-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
    h3 {
        color: #393F4C;
        margin: 0 0 0.5rem 0;
        line-height: 100%;
    }  
    .prod-img {
        max-width: 150px;
        height: 150px;
    }     
    .details {
        float: none;
        padding: 8px;
        width: 166px;
        margin: 0;
    }
    .category {
        margin: 0 0 0.5rem 0;
        color: #666666;
    }  
}

.speach {
    margin: 0 3px 0 0;
}

.prod-img {
    height: 164px;
    width: 164px;
    float: left;
    background: #999;
    margin: 8px;
}
.description {
    line-height: 14px;
    font-size: 13px;
}
.details {
    float: left;
    margin: 8px 8px 8px 0px;
}

.ratings {
    font-size: 1.2rem;
    div {
        display: block;
    }
}

@media (min-width:768px) { 
.card {
    width: 345px;
    .details {
        width: 160px;
        margin: 8px 0 8px 0
    }    
}
}

@media (min-width:992px) { 
.card {
    width: 375px;
    .talk {
        width: 190px;
    }
    .details {
        width: 190px;
    }
}

.half-card {
    .prod-img {
        max-width: 164px;
        height: 164px;
    }      
    .details {
        float: none;
        padding: 8px;
        width: 180px;
        margin: 0;
    }
}
}

/***********************************************************************************************/
/*Footer*/
/***********************************************************************************************/

.footer {
    background: #EFF1F4;
    border-top: 1px solid #FFF;
    height: 50px;
    width: 100%;
    text-align: right;
    font-size: 1.2rem;
    padding: 13px;
    line-height: 190%;
    a {
        text-decoration: none;
        color: #5D5D5D;
    }
    div {
        float: right;
    }
}

.footer-logo {
    margin: 0 0 0 10px;
}

/***********************************************************************************************/
/*IE 10 Fix for mobiles*/
/***********************************************************************************************/

@-webkit-viewport   { width: device-width; }
@-moz-viewport      { width: device-width; }
@-ms-viewport       { width: device-width; }
@-o-viewport        { width: device-width; }
@viewport           { width: device-width; }

/***********************************************************************************************/
/*Icons*/
/***********************************************************************************************/

@import "../fonts/style.less";
