/**********************************************************************************

	Project Name: IQS
	Project Description: IQS portal
	File Name: main.less
	Author: Reme Le Hane + Jacques van der Horst
	Author URI: http://www.ehbeat.com
	Version: 1.0.0
	
**********************************************************************************/

/***********************************************************************************************/
/*
Contents
    Bootstrap
    
*/
/***********************************************************************************************/

/***********************************************************************************************/
/*Bootstrap*/
/***********************************************************************************************/
@import "bootstrap.less";

.pull-left {
  float: left !important;
}
.pull-right {
  float: right !important;
}
.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}
.clearfix:after {
    clear: both;
}
/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.clearfix {
    *zoom: 1;
}
@media (max-width:768px) {
    .visible-xs {
        display: block;
    }
}
@media (max-width:992px) {
    .visible-xs {
        display: none;
    }
}
/***********************************************************************************************/
/*Bootstrap Theme*/
/***********************************************************************************************/
@import "bootstrap-theme.less";


/***********************************************************************************************/
/*LESS Variables*/
/***********************************************************************************************/



@mont :'Montserrat', sans-serif;

/***********************************************************************************************/
/*LESS Mixins*/
/***********************************************************************************************/


/***********************************************************************************************/
/*Global*/
/***********************************************************************************************/
html, body {
    overflow-x: hidden;
}

body {
    font-size: 16px;
    background-color:#dee9ef;
}

/***********************************************************************************************/
/*Typography*/
/***********************************************************************************************/

h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
}

/***********************************************************************************************/
/*Iconography*/
/***********************************************************************************************/

.icon-left {
    margin-right: 10px;
}

.icon-right {
    margin-left: 10px;
}

/***********************************************************************************************/
/*Header*/
/***********************************************************************************************/

.header {
    height: 100px;
    background-color: #eff1f4;
    margin-bottom: 2%;
}

/***********************************************************************************************/
/*Navigation*/
/***********************************************************************************************/

.list-group-item {
    position: relative;
    font-family: 'Gill Sans MT';
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
    background-color: #23232E;
    border: 1px solid #DDD;
}

a.list-group-item.active, a.list-group-item.active:hover, a.list-group-item.active:focus {
    z-index: 2;
    color: #FFF;
    background-color: #428BCA;
    border-color: #428BCA;
}

/***********************************************************************************************/
/*Product Catalog*/
/***********************************************************************************************/

.feat-image {
    height: 229px;
    background: grey;
    padding-top: 50px;
}
.feat-prod {
    margin: 0 0 10px 0;
    background-color: #FFFFFF;
}

/***********************************************************************************************/
/*Off canvas*/
/***********************************************************************************************/

@media screen and (max-width: 767px) {
  .row-offcanvas {
    position: relative;
    -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
  }

  .row-offcanvas-right
  .sidebar-offcanvas {
    right: -50%; /* 6 columns */
  }

  .row-offcanvas-left
  .sidebar-offcanvas {
    left: -50%; /* 6 columns */
  }

  .row-offcanvas-right.active {
    right: 50%; /* 6 columns */
  }

  .row-offcanvas-left.active {
    left: 50%; /* 6 columns */
  }

  .sidebar-offcanvas {
    position: absolute;
    top: 0;
    width: 50%; /* 6 columns */
  }
}

/***********************************************************************************************/
/*IE 10 Fix for mobiles*/
/***********************************************************************************************/

@-webkit-viewport   { width: device-width; }
@-moz-viewport      { width: device-width; }
@-ms-viewport       { width: device-width; }
@-o-viewport        { width: device-width; }
@viewport           { width: device-width; }